.container.proto-list
  .row
    - protos.each do |proto|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to image_tag(proto.protoimages.main.first.thumbnail), prototype_path(proto)
          .caption
            %h3
              = link_to proto.title, prototype_path(proto)
            .proto-meta
              .proto-user
                = link_to "by #{proto.user.nickname}", user_path(proto.user)
              .proto-posted
                = proto.created_at.strftime('%b %d')
            %ul.proto-tag-list.list-inline
              - proto.tags.each do |tag|
                %li
                  = link_to tag.name, tag_path(tag), class: "btn btn-default"

= paginate(protos)
